.container{
    display:flex;
            justify-content:space-around;
            flex-direction:column;
}
.h2{
     font-family: "poppins";
     color: #333F62;

}
.footer{
    width:100%;
    margin:16px 0px;
    display:flex;
    align-content:end;
    justify-content:space-between

}